body {
    font-family: 'Itim', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #10520F;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #10520F;
}

.logo img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

nav ul {
    gap: 1rem;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.info p {
    margin: 0.5rem 0;
}


.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D9D9D9;
    padding: 1.5rem;
    border-radius: 10px;
    max-width: 400px;
    margin: 2rem auto;
    color: #10520F;
    flex-wrap: wrap;
}

.color-info, .font-info {
    text-align: center;
    margin: 0.5rem;
}

.color-box {
    width: 50px;
    height: 50px;
    margin: 0.5rem auto;
}

.logo-img p {
    font-weight: bold;
    text-align: center;
}

/* Menú hamburguesa */
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    background-color: #AB8752;
    border-radius: 5px;
}

.menu-diagram img {
    max-width: 70%;
    height: 200px;
    margin: 2rem 0;
}

.roles {
    margin: 2rem 0;
}


footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: #10520F;
    padding: 1rem 0;
    margin-top: auto; 
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

/*-->Botones y navegacion<--*/
/*Color de fondo de los botones*/
nav{
    background: #10520F;
    overflow: hidden;
    height: 55px;
    display: flex;
    justify-content: center;
}
/*No muestra el botón de menú*/
input{
    display: none;
}
/*No muestra la hamburguesa*/
label{
    display: none;
}
/*Muestra los botones con la disposición horizontal para notebook*/
ul{
    display: flex;
    justify-content: center;
    margin-top:0;
    padding:0;
}
/*propiedad de cada boton*/
li{
    display: block;
    background: #10520F;
    margin: 10px;
    padding: 10px;
    list-style: none;
    border-radius: 50px;
}
/*Estilo boton con el mouse arriba*/
li:hover{
    filter:brightness(110%);
    background: #999898;
    border-bottom:0.5px solid #10520F;
}


/*cuando el dispositivo es como maximo de 700px*/
@media all and (max-width:790px){
    /*Muestra todo el contenido de todas las etiquetas ul*/
    input:checked ~ ul{
        display: block;
        position: static;
        margin-top:10px;
    }
    /*Cambia la forma de ver los elementos del nav*/
    nav {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    /*Muestra el contenido de las etiquetas label*/
    input:checked ~ label{
        background: #999898;
    }
    /*Cambia el color de la hamburguesa*/
    label:hover{
        background:#999898;
    }
    /*Elimina el margen de los botones*/
    li{
        margin: 0; /* Elimina el margen de los botones */
        border-radius: 0; /* Elimina el borde redondeado en los botones */
        border-top: 1px solid #10520F; /* Agrega un borde superior para separar los botones */
    }
    /*Dibuja la hamburguesa como botón*/
    label{
        display: block; /* Mostrar el botón de hamburguesa */
        cursor: pointer;
        background-color: #10520F;
        border-radius: 20px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        margin: 10px;
    }
    /*Deja de mostrar el bloque contenedor de los botones horizontales*/
    ul{
        display: none; /* Ocultar la lista de enlaces inicialmente */
        background-color: #10520F;
        width: 100%;
        text-align: center;
    }
}


 
