body {
    font-family: 'Itim', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #10520F;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #10520F;
}

.logo img {
    max-width: 100px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.info p {
    margin: 0.5rem 0;
}


.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D9D9D9;
    padding: 1.5rem;
    border-radius: 10px;
    max-width: 400px;
    margin: 2rem auto;
    color: #10520F;
    flex-wrap: wrap;
}

.color-info, .font-info {
    text-align: center;
    margin: 0.5rem;
}

.color-box {
    width: 50px;
    height: 50px;
    margin: 0.5rem auto;
}

.logo-img p {
    font-weight: bold;
    text-align: center;
}

.menu-diagram img {
    max-width: 70%;
    height: 200px;
    margin: 2rem 0;
}

.roles {
    margin: 2rem 0;
}


footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: #10520F;
    padding: 1rem 0;
    margin-top: auto; 
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}


@media (max-width: 400px) {
    nav ul {
        flex-direction: column;
    }

    .card {
        flex-direction: column;  
        max-width: 90%;          
        padding: 1rem;
    }

    .color-info, .font-info {
        margin: 1rem 0;          
    }

    .menu-diagram img {
        max-width: 80%;
    }
}

/* Desktop (min-width 1280px) */
@media (min-width: 1280px) {
    header {
        justify-content: flex-start;
        gap: 5rem;
    }
    nav ul {
        gap: 2rem;
    }
    .card {
        flex-direction: row;
    }
}